.container-Services {
    margin: 0px;
    width: 100%;
}
h1 {
    margin-left: 10px;
}

.services-section {
    padding: 10px 10px 60px;
    margin: 10px 10px 20px;
    background-color: rgb(230, 227, 227);
    border-radius: 10px;
    position: relative;
}
.section-grid {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-top: 10px;
}
.section-grid .image-section, .text-section{
    width: 50%;
}
.text-section {
    border-right: solid orange 5px;
    padding-right: 5px;
}
.section-grid .image-section img{
    width: 100%;
}

.button-div {
    position: absolute;
    bottom: 10;
    left: 0;
    right: 0;
    z-index: 1;
    margin: 10px;
}
.button-div button{
    background-color: orange;
    padding: 10px 15px;
    color: white;
    border: none;
    border-radius: 15px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}
.button-div button:hover{
    background-color:white;
    color:orange;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.3);
}
.service-btn {
    border-color: white;
    border-style: solid;
    border-width: 1px;
    padding: 5px 5px;
    border-radius: 5px;
}

h3 {
    text-align: center;
    margin-top: 10px;
}
footer {
    margin-bottom: 50px;
}

/*------------------------------MEDIAS QUERIES-------------------------------------*/

@media screen and (max-width : 551px){
    /*-------------------display service-images flex column--------------------*/
    .section-grid {
        flex-direction: column;
    }
    .section-grid .image-section, .text-section{
        width: 100%;
    }
}

/*---------------------------adjusting main button------------------------------------*/
@media screen and (max-width : 491px) {
    .button-div {
        left: 0;
        right: 0;
        height: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .button-div button{
        width: 100%;
        padding: 10px;
        white-space: nowrap;
    }
}