*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.OptionContainer {
    background-color: rgb(230, 227, 227);
    margin: 10px;
    border-radius: 10px;
}
.OptionContainer .Grid{
    margin: 10px;
}
.OptionContainer .Grid h2{
    text-align: center;
    color: orange;
    font-family: sans-serif;
    padding-top: 10px;
}
.OptionContainer .Grid .image{
    width: 100%;
    margin-bottom: 10px;
}
.OptionContainer .Grid .image img{
    width: 100%;
}
/*-----------------FAQS STAGE-----------------------*/
.OptionContainer {
    margin-top: 60px;
}
.OptionContainer .Grid .ContentArea{
    width: 100%;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.question, .answer {
    text-align: justify;
}
.questionStage .question {
    margin-bottom: 5PX;
    color: red;
    background-color: white;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px 10px 0px 0px;
}
.viewAnswer {
    font-weight: bold;
    font-size: 18px;
    color: white;
    background-color: orange;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    transition: 10s;
}
#answer, #answer2, #answer3, #answer4 {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 0px 0px 10px 10px;
    display: none;
    transition: 10s;
}